Thumbs.db
.DS_Store
.gradle
build/
out/
logs/
node_modules/
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
*.sublime-project
*.sublime-workspace
*.db
*.pyc
.sdkmanrc
.tox
src/java_properties_i18n_translation.egg-info/
.venv
venv
i18n_env
megalinter-reports/
