Thumbs.db
.DS_Store
.gradle
build/
dist/
out/
logs/
node_modules/
.idea
.vscode
*.iml
*.ipr
*.iws
.project
.settings
.classpath
*.sublime-project
*.sublime-workspace
*.db
*.pyc
.sdkmanrc
.tox
src/i18ntools.egg-info/
.venv
venv
i18n_env
megalinter-reports/
