interactions:
- request:
    body: '[{"text": "Property [{0}] of class [{1}] with value [{2}] is less than
      minimum value [{3}]"}, {"text": "I want to see you knocking at the door. \\\n    I
      wanna leave you out there waiting in the downpour. \\\n    Singing that you\u2019re
      sorry, dripping on the hall floor."}, {"text": "The customSubmitTS parameter
      is missing. \\\n    It must be present and of type Date."}, {"text": "{0} session
      removed."}, {"text": "The trial period has ended for your account \\\n    and
      you can no longer use the application."}, {"text": "Instructor is disabled"}]'
    headers:
      Content-Type:
      - application/json
      Ocp-Apim-Subscription-Key:
      - three_little_ducks
      Ocp-Apim-Subscription-Region:
      - eastus2
    method: POST
    uri: https://api.cognitive.microsofttranslator.com/translate?api-version=3.0&from=en&to=de
  response:
    body:
      string: '{"error":{"code":401001,"message":"The request is not authorized because
        credentials are missing or invalid."}}'
    headers:
      X-RequestId:
      - 74e9722c-3d71-4e77-9e25-eac19871dcfb.USE2.0730T2038
    status:
      code: 401
      message: Unauthorized
version: 1
